<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
        <link rel="stylesheet" href="../assets/styles.css"/>

    </head>
    <body>
        <!-- Navigation bar -->
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:about' %}">About</a>
                    <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                        <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username">
                                <input type="password" class="form-control" placeholder="Password" name="password">
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- Review form -->
        <form class="form-horizontal" action="{% url 'djangoapp:add_review' dealer.id %}" method="post">
            <div class="container">
                {% csrf_token %}
                <h1>Add Review for {{ dealer.full_name }} </h1>
                <hr>
                </br>
                <div class="form-group">
                    <label for="content" class="col-form-label col-sm-4"><b>Enter the review content:</b></label>
                    <div class="col-sm-6">
                        <textarea class="form-control" placeholder="write your review" name="review" id="content" rows="2" required></textarea>
                    </div>
                </div>
                </br>
                <div class="form-group row align-items-center px-3">
                    <div class="col-auto">
                        <input class="" type="checkbox" name="purchasecheck" id="purchasecheck"></input>
                    </div>
                    <label for="purchasecheck" class="col-form-label col-auto p-0" style="padding-bottom: 4px!important">Has purchased the car from {{ dealer.full_name }} ?
                    <span style="color:#707070">(select purchased car information below if checked)</span></label>
                </div>
                </br>
                <div class="form-group row align-items-center px-3">
                    <label for="car" class="col-form-label col-auto"><b>Select your car (model-make-year):</b></label>
                    <div class="col-auto d-flex align-items-center">
                        <select class="form-select" placeholder="car model" name="car" id="car" required>
                            {% for car in cars %}
                            <option selected value={{car.name}}>{{car.name}}-{{car.make.name}}-{{ car.year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                </br>
                <div class="form-group px-0">
                    <label for="purchasedate" class="col-form-label col-sm-4"><b>Select your purchase date:</b></label>
                    <div class="col-sm-6">
                        <input class="date-own form-control" type="date" placeholder="purchase date" name="purchase_date" id="purchasedate"></br>
                    </div>
                </div>
                </br>
                {% if message %}
                <div class="alert alert-warning ml-3">{{ message }}</div></br>
                {% endif %}
                <button class="btn btn-primary ml-3" type="submit">Submit</button>
                </div>
            </div>
        </form>

    </body>
    <script type="text/javascript">
        $('.date-own').datepicker({
            format: 'mm/dd/yyyy'
        });
    </script>
</html>